/* navigation */
.navbar {
  background-color: rgba(38, 99, 96, 0.8);
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  zoom: 0.60;
  align-items:flex-end;
}

.navbar div{
  padding-top: 5px;
  color: aliceblue;
  zoom: 1.2;
  margin-left: 40%;
}

.navbar img{
  zoom:0.25;
  margin-right: 2.5%;
  
}


/* header */
.brand-box{
    height: 20px;
    width:50px;
}
.header {
    height: 80vh;
    background-image: 
    linear-gradient(to right bottom, 
     rgba(64, 123, 113, 0.8),
     rgba(17, 32, 54, 0.8)),
     url('../../assets/giphy.gif');
    background-size: cover;
    background-position: top;
    position: relative;
}

.brand-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.brand { font-size: 20px; }

.text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
    margin-bottom: 20px;
}
.button {
	display: block;
  width: 400px;
  zoom: 0.5;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  font-size: 32px;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.instagram {
	text-align: center;
	border-radius: 50px;
  padding: 26px;
  color: white;
  background: #263bb4;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
} 
.youtube{
height: 90%;
background-image: url("https://images.unsplash.com/photo-1507837357635-0c89d2d066de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
background-repeat: no-repeat;
overflow: hidden;
background-position: center;
background-image: cross-fade();
background-size: cover;
padding-bottom: 40px;
}
youtube-player{
  display: flex;
  justify-content: center; 
  margin-top:30px ;
} 
/* teacher */

.example-card {
  max-width: 400px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  zoom:0.8;

}

.example-header-image {
  background-image: url();
  background-size: cover;

}

.assosiate{
  /* background-image: url("../../assets/asss.jpg");
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center;
	background-image: cross-fade();
	background-size: cover; */

}
.card{
  display: flex;
  justify-content: space-around;
  background-image: url("../../assets/asss.jpg");
  height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center;
	background-image: cross-fade();
	background-size: cover;

}
.example-header-image {
  background-image: url(../../assets/main.jpg);
   background-size: cover; 
   margin-top:8px

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .testonials{
   background-image: url("https://images.unsplash.com/photo-1607513746994-51f730a44832?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
   padding-bottom: 20px;
   background-repeat: no-repeat;
   overflow: hidden;
	 background-position: center;
	 background-image: cross-fade();
	 background-size: cover;
   padding-top: 10px;
  }
  ::selection{
   background: rgba(23,162,184,0.3);
  
  }
  .wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .wrapper .box{
    background:#e4e6e6;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(178, 196, 19, 0.15);
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: yellow;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #17a2b8;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: black;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }
  .testonials{
      text-align: center;
  }
  .testonials h1{
      font-style: italic;
  }

  /* footer */
  .footer-distributed{
    background: #002b5c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    /* color:  #92999f; */
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about h1{
    display: block;
    color:  #ffffff;
   
  }
  .footer-center h1{
    display: block;
    color:  #ffffff;
    ;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
     cursor: pointer; 
    padding: 10px;
   }
   .images{
    width: 250px;
    height: 150px;
    margin-left: 4px;
  }
  .carddesign{
    width: 250px;
    height: 320px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .content {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 40px;
  
  }
  