.content {
    justify-content: space-between; 
    margin: 40px;
  
  }
  .bg{
  background-image: url('https://images.unsplash.com/photo-1528701202755-cf9158dc3da6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2xhc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-image: cross-fade();
  background-size: cover;
  } 
  .images{
    width: 250px;
    height: 150px;
    margin-left: 4px;
  }
  .carddesign{
    width: 75%;
    height: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
  }
  
  .buttondesign{
    margin-left: 20%;
  }
  
  .toolbar{
    background-color:rgba(64, 123, 113, 0.8) ;
    /* padding-left: 46%; */
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 32px;
    color: white;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color:white;
    background: rgb(5, 5, 109);
    background: linear-gradient(90deg, rgb(5, 5, 109) 0%, 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(5, 5, 109);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    opacity:0.5;
    zoom:0.5;
    
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(5, 5, 109);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color:white;
    transform: translateY(-6px);
  
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  