<div>
    <section class="navbar" >
        <div>
            <div>
                <p><i class="material-icons">add_ic_call</i> <span style="zoom: 1.5;"> +90 543 123 45 67 </span> 
                <span ><i class="material-icons" style="zoom: 1.3;">mark_email_read</i> <span style="zoom: 1.3;"> <a href="mailto:#">  info@yoursite.com</a></span></span>
            </p>
            </div>
        </div>
        <!-- <div>
            <div class="navbarB">
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#awards">Awards</a></li>
                    <li><a href="#chats">Chats</a></li>
                    <li><a href="#articles">Articles</a></li>
                </ul>
            </div>              
        </div> -->
        <div class="navbarC">
            <p><button class="navbarButton">LOGIN</button>  </p>
        </div>

    </section>

        <div>
            <div class="col-md-12 col-sm-12 hidden-xs text-left">
                <div class="social">
                    <a class="facebook" href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="material-icons">facebook</i></a>              
                    <a class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="material-icons">install_desktop</i></a>
                    <a  class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="material-icons">linked_camera</i></a>
                    <a  class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="material-icons">shopping_cart</i></a>
                </div>
        </div>
   

    <section>
        <div class="nav-img">
            <img src="../../assets/giphy.gif" height="600px" width="1500px">
            <div class="nav-main"><img src="../../assets/main.jpg" height="60px" width="100px"></div>
            <div class="nav-text">Learn anything you like !! </div>   
            <div class="home-message">
                Welcome to the school of happiness and joy where you get the best education and the best in the toop city<br>
                The world is full of learning and this is the main sector to explore your carrer.
            </div>

            <div class="slider-bottom">
                <span>Explore <i class="material-icons">arrow_downward</i></span>
            </div>
        </div>
    </section>


    <section>
        <div class="containerA">
            <h1>
            </h1>
            <img width=" 150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        
        </div>

    </section>
</div>

<section>  
    
</section>
