<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Best Courses</p>
            <h3 class="title-style">Find The Right Course For You</h3>
        </div>
        <div class="row justify-content-center" >
            <div class="col-lg-4 col-md-6">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="https://images.unsplash.com/photo-1581078426770-6d336e5de7bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"  alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Art & Design</a>
                        </div>
                    </div>
                    <div class="content-main-top" >
                        <div class="content-top mb-4 mt-3" >
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 43 Lesson</li>
                                <li> <i class="fas fa-star"></i> 4.5</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Educational Programs</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$42.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">Know Details<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-2">Meditation</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 72 Lesson</li>
                                <li> <i class="fas fa-star"></i> 4.3</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Best Meditation Classes</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$36.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">Know Details<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="https://images.unsplash.com/photo-1548484352-ea579e5233a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-3">Games</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 14 Lesson</li>
                                <li> <i class="fas fa-star"></i> 4.2</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Games Program in a Week</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$30.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">Know Details<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Development</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 23 Lesson</li>
                                <li> <i class="fas fa-star"></i> 5.0</li>
                            </ul>
                        </div>
                        <h4><a href="courses.html">Games Program</a></h4>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                            <h6>$32.00</h6>
                            <a class="btn btn-style-primary" href="courses.html">Know Details<i
                                    class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>